@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Space+Mono&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ui-alpha: #256EFF;
  --ui-beta: #46237A;
  --ui-gamma: #91EAE4;
  --ui-delta: #FF495C;
  --ui-white: #FFF;
  --ui-black: #0C0910;
  --ui-gray: #F0F0F0;
}


input {
  border: none;
  outline: none;
}


.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
}

// Custom scroll bar
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--ui-white);
}

::-webkit-scrollbar-thumb {
  background: var(--ui-delta);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: var(--ui-delta);
}