@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Space+Mono&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ui-alpha: #256EFF;
  --ui-beta: #46237A;
  --ui-gamma: #3DDC97;
  --ui-delta: #FF495C;
  --ui-white: #FCFCFC;
  --ui-black: #0C0910;
}