@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Space+Mono&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ui-alpha: #256EFF;
  --ui-beta: #46237A;
  --ui-gamma: #91EAE4;
  --ui-delta: #FF495C;
  --ui-white: #FFF;
  --ui-black: #0C0910;
  --ui-gray: #F0F0F0;
}


input {
  border: none;
  outline: none;
}


.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
}

.home {
  display: flex;
  width: 100vw;
}

// Custom scroll bar
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--ui-white);
}

::-webkit-scrollbar-thumb {
  background: var(--ui-delta);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: var(--ui-delta);
}

// Sign up/in page styling
.sign-in, .sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);

    form {
        width: 80%;
        height: 650px;
        background: transparent;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background: var(--ui-white);
            width: 50%;
            height: 100%;
            border-radius: 10px;

            .title {
                text-align: center;
                font-family: 'Edu NSW ACT Foundation', sans-serif;
                font-size: 25px;
                text-decoration: underline;
            }

            .input-box {
                position: relative;
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                label {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    transition: all 0.3s ease;

                    &.active {
                        top: -20px;
                        left: 0;
                        font-size: 13px;
                    }
                }

                input {
                    width: 100%;
                    background: transparent;
                    border-bottom: 1px solid var(--ui-black);
                    padding: 10px;
                    z-index: 1;
                    transition: all 0.3s ease;

                    &.active {
                      background: var(--ui-gray);
                      border: none;
                      border-radius: 3px;
                    }
                }
            }

            button {
                width: 150px;
                height: 40px;
                background: var(--ui-black);
                color: var(--ui-white);
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background: var(--ui-white);
                    color: var(--ui-black);
                    border: 1px solid var(--ui-black);
                }
            }

            .other {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-around;
              border-top: 1px solid black;
              width: 60%;
              height: 100px;
            }
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            height: 100%;
            background: var(--ui-white);
            border-radius: 10px;
            color: black;
        }

    }
}